/Assembly-CSharp-vs.csproj
/Assembly-CSharp.csproj

/android.apk

.DS_Store

/UGUI-csharp.sln
/UGUI.sln
/UGUI.userprefs
/UnityVS.UGUI.CSharp.csproj
/UnityVS.UGUI.CSharp.csproj.user
/UnityVS.UGUI.sln
/UnityVS.UGUI.sln.DotSettings
/UnityVS.UGUI.v11.suo

/Library/

/ProjectSettings/

/Temp/

/obj/

/app.config
